@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form input,
button,
form textarea {
    font-family: inherit;
    font-size: inherit;
    padding: .25rem .5rem;
    color: #888;
    border: 1px solid grey;
    border-radius: .25rem;
}

form input,
form textarea {
    width: 100%;
}

form textarea {
    height: 6rem;
    resize: vertical;
}

button {
    background-color: steelblue;
    color: white;
    border: none;
}

form button:hover {
    background-color: orangered;
}

button:disabled {
    background-color: rgb(165, 165, 165);
    color: rgb(80, 80, 80);
    cursor: not-allowed;
}

form label {
    display: block;
    padding: .25rem;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: .25rem .5rem;
    border: none;
    border-radius: .25rem;
}

.error-message {
    font-size: small;
    color: red;
    display: inline-block;
    padding: .1rem .25rem;
}